*.idea
Assignment1/project/
Assignment1/target/
Assignment1/src/test/
*.zip
*.jar
Assignment2/SON/project/
Assignment2/SON/target/
Assignment2/SON/test/
*.class
*.cache
*.xml
*.dat
*.sbt
META-INF/
input/
Input/
Data/
data/
target/
project/
saurav_sahu_*/
Saurav_Sahu_*/
saurav_sahu_*
Saurav_Sahu_*
submission/
Submission/
